.ModalContrainer {
  height: 100vh;
  width: 30rem;
  padding: 2rem;
  background-color: white;
  /* overflow: hidden; */
  /* transform: translateX(34rem); */
}
.ModalButton {
  cursor: pointer;
  float: right;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  box-sizing: content-box;
  border: none;
  background: inherit;
}
.ModalMenuContainer a {
  color: black;
  text-decoration-line: none;
  display: block;
  margin: 4rem 0 0 2rem;
  font-size: 2rem;
  width: 10rem;
}
@media screen and (max-width: 480px) {
  .ModalContrainer {
    padding: 0;
  }
  .ModalMenuContainer a {
    font-size: 1rem;
    margin: 0 0 2rem 1.6rem;
  }
  .ModalButton {
    position: relative;
    left: 10rem;
    font-size: 2rem;
    float: unset;
  }
}
