/*모바일 너비 768px 이하*/
@media screen and (min-width: 0) {
  .MainLayout {
    background-color: red;
  }
  .header {
  }
  .header-rogo {
    max-width: 4rem;
    margin: 1rem;
  }
}

/*태블릿 너비 1239px 이하*/
@media screen and (min-width: 400px) {
  .MainLayout {
    background-color: skyblue;
  }
}
/*pc 너비 1240px 이상*/
@media screen and (min-width: 1240px) {
  .MainLayout {
    background-color: white;
  }
}

/*MainHeader*/
.header {
  display: flex;
  border-bottom: 5px solid rgb(0, 0, 0, 0.1);
  width: 100%;
  height: 5rem;
  margin: 0 auto;
}
.header-rogo {
  max-width: 10rem;
  height: 4rem;
  margin: 0.4rem 0 0 6rem;
}
.menu-container {
  padding: 0.8em 0;
  font-size: 1.6em;
}

.menu-container a {
  margin: 3rem;
}
